///
/// Truncate single line text via CSS
///
/// @link https://engageinteractive.co.uk/blog/top-10-scss-mixins 10 Sass (SCSS) mixins you should be using in your projects: No. 10
///
/// @author Jamie Wright
///
/// @param $truncation-boundary [100%] - The maximum width of the text to truncate
///
/// @output CSS styles needed for textual ellipsis trunctation
///
@mixin truncate-typography ($truncation-boundary: 100%) {
	max-width: $truncation-boundary;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
